name: Tests

on: [pull_request]

jobs:
  phpunit-tests:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build container
        run: docker build -t multi-payment .
      - name: Install Dependencies
        run: docker run -v $(pwd):/app multi-payment composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
      - name: Execute tests via PHPUnit
        env:
          APP_ENV: testing
          MULTIPAYMENT_DEFAULT: iugu
          IUGU_ID: ${{ secrets.IUGU_ID }}
          IUGU_APIKEY: ${{ secrets.IUGU_APIKEY }}
        run: |
          docker run \
            --volume $(pwd):/app \
            --env APP_ENV \
            --env MULTIPAYMENT_DEFAULT \
            --env IUGU_ID \
            --env IUGU_APIKEY \
            multi-payment composer test
